

  <mat-toolbar class="menu">
    
    <img class="logo" src="../assets/Images/OLlogo.png" alt="Descripción de la imagen">
    <button mat-icon-button class="Menu-hamburguesa" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>notifications</mat-icon>
    </button>
    <div class="profile-picture">
        <img src="../assets/Images/profile_imagen.png" alt="Imagen de perfil">
      </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>meeting_room</mat-icon>
    </button>
  </mat-toolbar>

<app-menu></app-menu>
